body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  padding: 10px;
}
.legend i {
  width: 30px;
  height: 17px;
  float: left;
  margin-right: 8px;
  font-weight: bold;
}
